//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 05 00:26:25 2020
//! **************************************************************************

SCHEMATIC START;
COMP "resto<0>" LOCATE = SITE "V15" LEVEL 1;
COMP "resto<1>" LOCATE = SITE "V14" LEVEL 1;
COMP "resto<2>" LOCATE = SITE "V12" LEVEL 1;
COMP "resto<3>" LOCATE = SITE "V11" LEVEL 1;
COMP "abilita" LOCATE = SITE "N17" LEVEL 1;
COMP "clear" LOCATE = SITE "P18" LEVEL 1;
COMP "divisore<0>" LOCATE = SITE "H6" LEVEL 1;
COMP "divisore<1>" LOCATE = SITE "U12" LEVEL 1;
COMP "divisore<2>" LOCATE = SITE "U11" LEVEL 1;
COMP "divisore<3>" LOCATE = SITE "V10" LEVEL 1;
COMP "clock" LOCATE = SITE "E3" LEVEL 1;
COMP "quoziente<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "quoziente<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "errore" LOCATE = SITE "N15" LEVEL 1;
COMP "quoziente<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "dividendo<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "quoziente<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "dividendo<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "dividendo<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "dividendo<3>" LOCATE = SITE "R15" LEVEL 1;
SCHEMATIC END;

